{% extends 'layout.html' %}
{% load static %}

<html lang="en">
    <body>
    {% block content %}
    

        {% include 'includes/mainbanner.html' %}
        {% include 'includes/food.html' %}
        {% include 'includes/dessert.html' %}
        {% include 'includes/bussines.html' %}
        {% include 'includes/drinks.html' %}
        {% include 'includes/textgoal.html' %}
{% endblock %}
  </body>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

</html>