    <!-- ***** Footer Start ***** -->
    {% load static %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="{{ logo.url }} " width="170" alt="hexashop ecommerce templatemo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" style="position: relative; left: 50px;">
                    <h4>Adress</h4>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                        <li><a href="#">hexashop@company.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
                <div class="col-lg-3" style="position: relative; left: 100px;">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="#">Yeməklər</a></li>
                        <li><a href="#">Şirniyyatlar</a></li>
                        <li><a href="#">Business Lunch</a></li>
                        <li><a href="#">İçkilər</a></li>
                    </ul>
                </div>
                <div class="col-lg-3" style="position: relative; left: 50px;">
                    <h4>Haqqımızda</h4>
                    <ul>
                        <li><a href="#">Xəbərlər</a></li>
                        <li><a href="#">Vakansiyalar</a></li>
                        <li><a href="#">Şikayət və təkliflər</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <ul>
                            {% for social in link %}
                            <li><a href="{{social.link }}">{{ social.icon | safe}}</a></li>
                            {% endfor%}
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>


