{% load static %}
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">
                            <img src="{{ logo.url }}" width="140" style="position: relative; right: 200px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="position: relative; left: 200px;">
                            <li class="submenu">
                                <a href="javascript:;">Menu</a>
                                <ul>
                                    <li><a href="men">Yeməklər</a></li>
                                    <li><a href="women">Şirniyyatlar</a></li>
                                    <li><a href="kids">Business Lunch</a></li>
                                    <li><a href="men">İçkilər</a></li>
                                </ul>
                            </li>
                            <li class="submenu" >
                                 <a class = "scroll-to-section" href="#explore">Haqqımızda</a>
                                <ul>
                                    <li><a href="men">Xəbərlər</a></li>
                                    <li><a href="women">Vakansiyalar</a></li>
                                    <li><a href="kids">Şikayət və təkliflər</a></li>
                                </ul>
                                
                            </li>
                            <li class="scroll-to-section"><a href="#explore">Contact</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
